airdrop-ng==1.1
airgraph-ng==1.1
annotated-types==0.6.0
attrs==23.1.0
blis==0.7.11
btrfsutil==6.6.3
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
confection==0.1.4
cryptography==41.0.7
cymem==2.0.8
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
filelock==3.13.1
fsspec==2023.12.2
huggingface-hub==0.20.1
idna==3.6
Jinja2==3.1.2
key-mon==1.20
langcodes==3.3.0
Mako==1.2.4
Markdown==3.5.1
MarkupSafe==2.1.3
murmurhash==1.0.10
numpy==1.26.2
packaging==23.2
ply==3.11
preshed==3.0.9
pyamdgpuinfo==2.1.6
pycairo==1.25.1
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
PyGObject==3.46.0
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
pyqt5-tools==5.15.9.3.3
python-dotenv==1.0.0
PyYAML==6.0.1
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
requests==2.31.0
shtab==1.6.4
smart-open==6.4.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlglot==20.4.0
sqlparse==0.4.4
srsly==2.4.8
termcolor==2.3.0
thinc==8.2.2
tldr==3.2.0
tokenizers==0.15.0
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.9.0
urllib3==2.1.0
wasabi==1.1.2
weasel==0.3.4
